<div class="hw-table">
  <div class="table-header-container">
    <table>
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th>图片</th>
          <th>事件名称</th>
          <th>车牌号</th>
          <th>摄像机名称</th>
          <th>上报时间</th>
          <th>操作</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-body-container" *ngIf="datas.length > 0">
    <table>
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <tbody>
        <tr *ngFor="let item of datas" (click)="onitemclicked(item)">
          <td class="img-list">
            <div
              class="img"
              [ngStyle]="{
                backgroundImage: 'url(' + (item.imageUrl | async) + ')'
              }"
            ></div>
            <div
              class="img"
              [ngStyle]="{
                backgroundImage:
                  'url(' + (item.backgroundImageUrl | async) + ')'
              }"
            ></div>
          </td>
          <td>{{ item.eventName }}</td>
          <td>{{ item.plateNo }}</td>
          <td>{{ item.cameraName }}</td>
          <td>{{ item.time | date_time_pipe }}</td>
          <td>
            <span (click)="ondetails($event, item)">
              <i class="howell-icon-picture"></i
            ></span>
            <span (click)="onplayback($event, item)">
              <i class="howell-icon-video-playback1"></i
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-body-container nodata" *ngIf="datas.length <= 0">
    暂无数据
  </div>
</div>
