<div class="structured-data">
  <div class="structured-data-head">
    <div class="hw-second-title">结构化数据</div>
    <div class="tab-labels">
      <div
        class="tab"
        [ngClass]="{
          active: path === StructuredDataPath.face
        }"
        (click)="navigation(StructuredDataPath.face)"
      >
        人脸
      </div>
      <div
        class="tab"
        [ngClass]="{
          active: path === StructuredDataPath.body
        }"
        (click)="navigation(StructuredDataPath.body)"
      >
        人体
      </div>
      <div
        class="tab"
        [ngClass]="{
          active: path === StructuredDataPath.vehicle
        }"
        (click)="navigation(StructuredDataPath.vehicle)"
      >
        车辆
      </div>
    </div>
  </div>
  <div class="structured-data-content">
    <!-- <div class="horizontal-layout">
      <div class="horizontal-left">
        <div class="search-bar">
          <div class="search-btn active">图片检索</div>
          <div class="search-btn">要素检索</div>
        </div>
        <div class="search-container"></div>
      </div>
      <div class="horizontal-right">33</div>
    </div> -->
    <ng-container *ngIf="path === StructuredDataPath.face">
      <app-structured-data-face></app-structured-data-face>
    </ng-container>
    <ng-container *ngIf="path === StructuredDataPath.body">
      <app-structured-data-body></app-structured-data-body>
    </ng-container>
    <ng-container *ngIf="path === StructuredDataPath.vehicle">
      <app-structured-data-vehicle></app-structured-data-vehicle>
    </ng-container>
  </div>
</div>
