.structured-data {
  padding: 0 20px;
  .vertical-header {
    .left-wrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }
  .vertical-main {
    margin-top: 5px;
  }
  .horizontal-left {
    padding: 0;
    .search-bar {
      width: 100%;
      display: flex;

      .search-btn {
        // background-color: red;
        font-size: 18px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        color: #7f94ff;

        &:hover {
          color: white;
        }
        &.active {
          color: #cfd7ff;
        }
      }
    }
    .search-container {
      flex-grow: 1;
      // background: lavender;
    }
  }
}
