<div class="structured-data vertical-layout">
  <div class="vertical-header">
    <div class="left-wrapper">
      <div class="hw-second-title">结构化数据</div>
      <div class="tab-labels">
        <div class="tab active">人脸</div>
        <div class="tab">人体</div>
        <div class="tab">车辆</div>
      </div>
    </div>
  </div>
  <div class="vertical-main">
    <div class="horizontal-layout">
      <div class="horizontal-left">
        <div class="search-bar">
          <div class="search-btn active">图片检索</div>
          <div class="search-btn">要素检索</div>
        </div>
        <div class="search-container"></div>
      </div>
      <div class="horizontal-right">33</div>
    </div>
  </div>
</div>
