<div class="body-detail vertical-layout">
  <div class="vertical-header body-detail-header">
    <div class="hw-simple-title">详细信息</div>
  </div>
  <div class="vertical-main body-detail-main">
    <div class="left-wrapper">
      <div class="left-item">
        <img src="assets/img/timg-pic.jpg" alt="" />
      </div>
      <div class="left-item">
        <img src="assets/img/timg-pic.jpg" alt="" />
      </div>
    </div>
    <div class="right-wrapper">
      <div class="right-item">
        <div class="title">
          <i class="howell-icon-car-stay"></i>
          性别
        </div>
        <div class="content">女</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>发型</div>
        <div class="content">长发</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>年龄段</div>
        <div class="content">青年</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>上衣类型</div>
        <div class="content">连体裙</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>是否戴眼镜</div>
        <div class="content">否</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>上衣颜色</div>
        <div class="content">黑色</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>是否背包</div>
        <div class="content">否</div>
      </div>

      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>下衣类型</div>
        <div class="content">否</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>是否戴帽子</div>
        <div class="content">黑色</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>下衣颜色</div>
        <div class="content">是</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>是否戴口罩</div>
        <div class="content">无</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>是否骑车</div>
        <div class="content">是</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>是否拎东西</div>
        <div class="content">是</div>
      </div>
      <div class="right-item">
        <div class="title"><i class="howell-icon-car-stay"></i>骑车类型</div>
        <div class="content">是</div>
      </div>
    </div>
  </div>
  <div class="vertical-footer body-detail-footer">
    <button class="hw-blue-btn" (click)="close()">确定</button>
  </div>
</div>
