<div
  class="common-detail vertical-layout"
  *ngIf="model"
  [style.width.px]="model.ContainerWidth"
  [style.height.px]="model.ContainerHeight"
>
  <div class="common-detail-header vertical-header">
    <div class="hw-simple-title">{{ model.Title }}</div>
  </div>
  <div class="common-detail-main vertical-main">
    <div class="left-wrapper" [style.width.px]="model.LeftWidth">
      <div
        *ngIf="model.ImageUrl"
        class="left-item"
        [style.backgroundImage]="'url(' + (model.ImageUrl | async) + ')'"
        (click)="magnify(model.ImageUrl)"
      ></div>
      <div
        *ngIf="model.BackgroundImageUrl"
        class="left-item"
        [style.backgroundImage]="
          'url(' + (model.BackgroundImageUrl | async) + ')'
        "
        (click)="magnify(model.BackgroundImageUrl)"
      ></div>
    </div>
    <div class="right-wrapper" [class]="model.LinePerRecord">
      <ng-container *ngFor="let record of model.Records">
        <div class="right-item">
          <div class="title">
            <i [class]="record.Icon"></i>{{ record.PropertyDes }}
          </div>
          <div class="content">{{ record.PropertyValue }}</div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="common-detail-footer vertical-footer">
    <button
      *ngIf="config.btnPlayback"
      class="hw-cyan-btn"
      (click)="onplayback()"
    >
      回放
    </button>
    <button *ngIf="config.btnDeploy" class="hw-cyan-btn" (click)="ondeploy()">
      布控
    </button>
    <button class="hw-blue-btn" (click)="close()">关闭</button>
  </div>
</div>
