<div class="header-navigation">
  <div
    class="item"
    [class.selected]="path === NavigationPath.realtime"
    (click)="onchanged(NavigationPath.realtime)"
  >
    首页
  </div>
  <div
    class="item"
    [class.selected]="path === NavigationPath.structured_data"
    (click)="onchanged(NavigationPath.structured_data)"
  >
    结构化数据
  </div>
  <div
    class="item"
    [class.selected]="path === NavigationPath.event_record"
    (click)="onchanged(NavigationPath.event_record)"
  >
    报警事件
  </div>
  <div
    class="item"
    [class.selected]="path === NavigationPath.deploy_list"
    (click)="onchanged(NavigationPath.deploy_list)"
  >
    布防列表
  </div>
  <div
    class="item"
    [class.selected]="path === NavigationPath.config_setting"
    (click)="onchanged(NavigationPath.config_setting)"
  >
    配置设置
  </div>
</div>
