<div class="realtime">
  <div class="left">
    <div
      class="box-wrapper"
      style="height: calc((100% - 10px) - 248px); margin-bottom: 10px"
    >
      <div class="box-item" style="padding: 20px">
        <howell-region-tree
          [showRegionNode]="true"
          [showButtonIcon]="true"
          [suffixIconType]="suffixIconType"
          (selectTreeNode)="onNodeSelected($event)"
          (buttonIconClickEvent)="onButtonIconClicked($event)"
        ></howell-region-tree>
        <!-- (buttonIconClickEvent)="onButtonIconClicked($event)"
          [showButtonIcon]="true" -->
      </div>
    </div>

    <div class="box-wrapper" style="height: 248px">
      <div class="box-item">
        <howell-device-status
          (device)="ondevice($event)"
        ></howell-device-status>
      </div>
    </div>
  </div>
  <div class="right" style="margin-left: 10px">
    <div
      class="box-wrapper"
      style="height: calc((100% - 10px) - 248px); margin-bottom: 10px"
    >
      <div class="box-item">
        <app-map-control
          (video)="onvideo($event)"
          [position]="position"
        ></app-map-control>
      </div>
    </div>
    <div style="height: 248px">
      <div
        class="box-wrapper"
        style="
          width: calc(100% - 405px - 10px);
          height: 100%;
          float: left;
          margin-right: 10px;
        "
      >
        <div class="box-item" style="padding: 10px">
          <howell-alarm
            (picture)="ondetails($event)"
            (playback)="onplayback($event)"
            (loaded)="alarmLoaded($event)"
          ></howell-alarm>
        </div>
      </div>
      <div class="box-wrapper" style="width: 405px; height: 100%; float: left">
        <div class="box-item">
          <howell-deploy-info
            (infoClick)="ondetails($event)"
          ></howell-deploy-info>
        </div>
      </div>
    </div>
  </div>
</div>
