<div class="face-detail vertical-layout">
  <div class="vertical-header face-detail-header">
    <div class="hw-simple-title">人脸布控报警</div>
  </div>
  <div class="vertical-main face-detail-main">
    <div class="left-wrapper">
      <div class="left-item">
        <img src="assets/img/timg-pic.jpg" alt="" />
      </div>
      <div class="left-item">
        <img src="assets/img/timg-pic.jpg" alt="" />
      </div>
    </div>
    <div class="right-wrapper">
      <div class="right-item">
        <div class="title">报警名称</div>
        <div class="content">我的布控</div>
      </div>
      <div class="right-item">
        <div class="title">性别</div>
        <div class="content">女</div>
      </div>
      <div class="right-item">
        <div class="title">年龄段</div>
        <div class="content">青年</div>
      </div>
      <div class="right-item">
        <div class="title">人员姓名</div>
        <div class="content">张小红</div>
      </div>
      <div class="right-item">
        <div class="title">证件号码</div>
        <div class="content">321101919</div>
      </div>
      <div class="right-item">
        <div class="title">抓拍相机</div>
        <div class="content">摄像机1</div>
      </div>
      <div class="right-item">
        <div class="title">抓拍时间</div>
        <div class="content">2022-01-01 10:21:34</div>
      </div>
    </div>
  </div>
  <div class="vertical-footer face-detail-footer">
    <button class="hw-blue-btn" (click)="close()">确定</button>
  </div>
</div>
