<app-window [Model]="Model" [title]="title" [style]="style" [title]="title">
  <ng-container *ngIf="Model.show">
    <div class="device-list-window">
      <div class="device-list-window-head">
        <div class="hw-second-title">摄像机</div>
      </div>
      <div class="device-list-window-content">
        <app-device-table
          [status]="status"
          (video)="onvideo($event)"
          (position)="onposition($event)"
        ></app-device-table>
      </div>
    </div>
  </ng-container>
</app-window>
