<div class="hw-table">
  <div class="table-header-container">
    <table>
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <th>照片</th>
          <th>布控名称</th>
          <th>人员姓名</th>
          <th>性别</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>操作</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-body-container" *ngIf="datas.length > 0">
    <table>
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <tbody>
        <tr *ngFor="let item of datas" (click)="onitemclicked(item)">
          <td>
            <div
              (click)="onpicture($event, item)"
              [ngStyle]="{ backgroundImage: 'url(' + item.ImageData + ')' }"
            ></div>
          </td>
          <td>{{ item.TaskName }}</td>
          <td>{{ item.Name }}</td>
          <td>{{ item.Gender }}</td>
          <td>{{ item.BeginTime | date_time_pipe }}</td>
          <td>{{ item.EndTime | date_time_pipe }}</td>
          <td>
            <span (click)="ondetails($event, item)">
              <i class="howell-icon-picture"></i
            ></span>
            <!-- <span (click)="onplayback($event, item)">
              <i class="howell-icon-video-playback1"></i
            ></span> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-body-container nodata" *ngIf="datas.length <= 0">
    暂无数据
  </div>
</div>
