<div class="structured-data-face-query">
  <div class="structured-data-face-query-tabs">
    <div
      class="structured-data-face-query-tabs-picture"
      [ngClass]="{ selected: tab === StructuredDataFaceQueryTab.image }"
      (click)="ontabchanged(StructuredDataFaceQueryTab.image)"
    >
      图片搜索
    </div>
    <div
      class="structured-data-face-query-tabs-params"
      [ngClass]="{ selected: tab === StructuredDataFaceQueryTab.attribute }"
      (click)="ontabchanged(StructuredDataFaceQueryTab.attribute)"
    >
      要素搜索
    </div>
  </div>
  <div class="structured-data-face-query-content">
    <div class="form-item">
      <div class="form-item-title">摄像机</div>
      <div class="form-item-input node">
        <mat-chip-list
          #chipList
          aria-label="Fruit selection"
          [aria-orientation]="'horizontal'"
          (click)="onchiplistclicked($event)"
        >
          <span *ngIf="!nodes || nodes.length == 0">请选择</span>
          <mat-chip *ngFor="let item of nodes" (removed)="remove(item)">
            {{ item.Name }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>

        <div class="tree" *ngIf="expand">
          <howell-region-tree
            (selectTreeNode)="onNodeSelected($event)"
          ></howell-region-tree>
        </div>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-title">开始时间</div>
      <div class="form-item-input">
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy年MM月dd日 HH:mm'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [date]="model.duration.begin"
          (change)="changebegin($event)"
          class=""
        />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-title">结束时间</div>
      <div class="form-item-input">
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy年MM月dd日 HH:mm'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [date]="model.duration.end"
          (change)="changeend($event)"
          class=""
        />
      </div>
    </div>
    <div *ngIf="tab === StructuredDataFaceQueryTab.image && model.image">
      <div
        class="form-item picture"
        (click)="onupload()"
        [ngStyle]="{
          backgroundImage: 'url(' + model.image.image + ')'
        }"
      >
        <div *ngIf="!model.image.image">点击上传图片</div>
        <input
          type="file"
          (change)="fileChange()"
          accept="*.png|*.jpg|*.jpeg|*.bmp"
          #file
          style="display: none"
        />
      </div>
      <div class="form-item">
        <div class="form-item-title like">相似度(%)</div>
        <div class="form-item-input like">
          <input
            type="number"
            (touchSpinChange)="touchSpinChange($event)"
            appTouchSpin
            [(ngModel)]="model.image.similarity"
          />
        </div>
      </div>
    </div>
    <div
      *ngIf="
        tab === StructuredDataFaceQueryTab.attribute && this.model.attribute
      "
    >
      <div class="form-item">
        <div class="form-item-title">性别</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.attribute.Gender">
            <option [value]="item.Value" *ngFor="let item of genders">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-title">年龄段</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.attribute.AgeGroup">
            <option [value]="item.Value" *ngFor="let item of ages">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-title">眼镜</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.attribute.Glass">
            <option [value]="item.Value" *ngFor="let item of glasses">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-title">关联车牌</div>
        <div class="form-item-input">
          <input
            type="text"
            [(ngModel)]="this.model.attribute.PlateNo"
            placeHolder="请输入…"
          />
        </div>
      </div>
    </div>
    <div class="form-item">
      <button class="hw-blue-btn" (click)="onquery()" style="width: 100%">
        检索
      </button>
    </div>
  </div>
</div>
