<div class="structured-data-face">
  <div class="structured-data-face-query">
    <app-structured-data-face-query (query)="onquery($event)">
    </app-structured-data-face-query>
  </div>
  <div class="structured-data-face-result">
    <div class="structured-data-face-result-head hw-simple-title">搜索结果</div>
    <div
      class="structured-data-face-result-none"
      *ngIf="!datas || datas.length <= 0"
    >
      <div>无记录</div>
    </div>
    <div
      class="structured-data-face-result-list"
      *ngIf="datas && datas.length > 0"
    >
      <div
        class="structured-data-face-result-list-item"
        *ngFor="let item of datas"
      >
        <app-structured-data-item
          (imageClick)="onImageClicked($event)"
          (click)="onselected(item)"
          [model]="item"
        >
        </app-structured-data-item>
      </div>
    </div>
    <div class="structured-data-face-result-foot" *ngIf="page">
      <div>
        <span class="count-title">总数量：</span
        ><span class="count">{{ page.TotalRecordCount }}</span>
      </div>
      <div>
        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="page.PageIndex - 1"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
<app-window
  [Model]="window.details"
  [style]="style"
  *ngIf="window.details.show"
>
  <!-- <app-face-detail
    *ngIf="!!selected"
    [eventRecord]="selected.data"
    (closeEvent)="onclosewindow()"
  >
  </app-face-detail> -->

  <!-- <div class="window-head">
    <div><i class="howell-icon-video-playback1"></i></div>
  </div> -->
  <app-common-detail
    *ngIf="!!selected"
    [dataSource]="selected.data"
    [config]="{
      btnPlayback: true,
      btnDeploy: true
    }"
    (playback)="onplayback($event)"
    (closeEvent)="onclosewindow()"
    (magnifyEvent)="onmagnify($event)"
    (deploy)="ondeploy($event)"
  ></app-common-detail>
  <!-- <div class="window-foot">
    <div class="hw-blue-btn">布控</div>
  </div> -->
</app-window>
<app-window [Model]="window.deploy" [style]="style" *ngIf="window.deploy.show">
  <app-deploy-form-face
    *ngIf="!!selected"
    [data]="selected.data"
    (close)="ondeployclose()"
  ></app-deploy-form-face>
</app-window>
