<div class="structured-data-face">
  <div class="structured-data-face-query">
    <app-structured-data-face-query (query)="onquery($event)">
    </app-structured-data-face-query>
  </div>
  <div class="structured-data-face-result">
    <div class="structured-data-face-result-head hw-simple-title">搜索结果</div>
    <div class="structured-data-face-result-list">
      <div
        class="structured-data-face-result-list-item"
        (click)="onselected(item)"
        *ngFor="let item of datas"
      >
        <app-structured-data-item [model]="item"> </app-structured-data-item>
      </div>
    </div>
    <div class="structured-data-face-result-foot" *ngIf="page">
      <div>
        <span class="count-title">总数量：</span
        ><span class="count">{{ page.TotalRecordCount }}</span>
      </div>
      <div>
        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="page.PageIndex - 1"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
<app-window [Model]="window" [style]="style">
  <app-face-detail [eventRecord]="selected" (closeEvent)="onclosewindow()">
  </app-face-detail>
</app-window>
