<div class="structured-data-vehicle">
  <div class="structured-data-vehicle-query">
    <app-structured-data-vehicle-query (query)="onquery($event)">
    </app-structured-data-vehicle-query>
  </div>
  <div class="structured-data-vehicle-result">
    <div class="structured-data-vehicle-result-head">
      <div class="hw-simple-title">搜索结果</div>
      <div
        class="structured-data-face-result-head-operation"
        *ngIf="datas && datas.length > 0"
      >
        <select class="mdi-set select">
          <option value="">&#xF03B;&nbsp;</option>
        </select>
        <select>
          <option value="">按时间排序</option>
        </select>
      </div>
    </div>
    <div
      class="structured-data-vehicle-result-none"
      *ngIf="!datas || datas.length <= 0"
    >
      <div>无记录</div>
    </div>
    <div
      class="structured-data-vehicle-result-list"
      *ngIf="datas && datas.length > 0"
    >
      <div
        class="structured-data-vehicle-result-list-item"
        *ngFor="let item of datas"
      >
        <app-structured-data-item
          [model]="item"
          (imageClick)="onImageClicked($event)"
          (click)="onselected(item)"
        >
        </app-structured-data-item>
      </div>
    </div>
    <div class="structured-data-vehicle-result-foot" *ngIf="page">
      <div>
        <span class="count-title">总数量：</span
        ><span class="count">{{ page.TotalRecordCount }}</span>
      </div>
      <div>
        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="page.PageIndex - 1"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
<app-window
  [Model]="window.details"
  [style]="style"
  *ngIf="window.details.show"
>
  <app-common-detail
    *ngIf="!!selected"
    [dataSource]="selected.data"
    [config]="{
      btnPlayback: true,
      btnDeploy: true
    }"
    (playback)="onplayback($event)"
    (closeEvent)="onclosewindow()"
    (magnifyEvent)="onmagnify($event)"
    (deploy)="ondeploy($event)"
  ></app-common-detail>
</app-window>
