<div class="structured-data-vehicle">
  <div class="structured-data-vehicle-query">
    <app-structured-data-vehicle-query (query)="onquery($event)">
    </app-structured-data-vehicle-query>
  </div>
  <div class="structured-data-vehicle-result">
    <div class="structured-data-vehicle-result-head hw-simple-title">
      搜索结果
    </div>
    <div
      class="structured-data-vehicle-result-none"
      *ngIf="!datas || datas.length <= 0"
    >
      <div>无记录</div>
    </div>
    <div
      class="structured-data-vehicle-result-list"
      *ngIf="datas && datas.length > 0"
    >
      <div
        class="structured-data-vehicle-result-list-item"
        *ngFor="let item of datas"
      >
        <app-structured-data-item
          [model]="item"
          (imageClick)="onImageClicked($event)"
          (click)="onselected(item)"
        >
        </app-structured-data-item>
      </div>
    </div>
    <div class="structured-data-vehicle-result-foot" *ngIf="page">
      <div>
        <span class="count-title">总数量：</span
        ><span class="count">{{ page.TotalRecordCount }}</span>
      </div>
      <div>
        <app-paginator
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="5"
          [pageIndex]="page.PageIndex - 1"
          [showFirstLastButtons]="true"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
<app-window [Model]="window" [style]="style" *ngIf="window.show">
  <!-- <app-vehicle-detail
    *ngIf="!!selected"
    [eventRecord]="selected.data"
    (closeEvent)="onclosewindow()"
  >
  </app-vehicle-detail> -->

  <app-common-detail
    *ngIf="!!selected"
    [dataSource]="selected.data"
    [config]="{
      btnPlayback: true
    }"
    (playback)="onplayback($event)"
    (closeEvent)="onclosewindow()"
  ></app-common-detail>
</app-window>
