/*
  垂直布局,header和footer不能shrink
*/
.vertical-layout {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  height: 100%;

  .vertical-header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .vertical-main {
    flex-grow: 1;
    overflow: auto;
    flex-basis: 0;
  }
  .vertical-footer {
    flex-shrink: 0;
    display: flex;

    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: space-between;

    .left-wrapper {
      display: flex;
      justify-content: flex-start;
    }
    .right-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.footer-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  .footer-info {
    display: flex;
    .info-item {
      margin: 0 5px;
      font-size: 14px;
    }
  }
}
