<div class="device-list vertical-layout">
  <div class="vertical-header">
    <div class="left-wrapper">
      <div class="title">设备列表</div>
      <div class="tab-labels">
        <div class="tab active">监控点</div>
        <div class="tab">卡口</div>
      </div>
    </div>
    <div class="right-wrapper">
      <howell-simple-search></howell-simple-search>
    </div>
  </div>
  <div class="vertical-main">
    <common-table [dataSubject]="dataSubject" [columnModel]="columnModel" [displayedColumns]="displayedColumns"
      [selectStrategy]="selectStrategy" [tableOperates]="tableOperates" (selectTableRow)="selectTableRow($event)"
      (selectTableCell)="selectTableCell($event)"></common-table>
  </div>
  <div class="vertical-footer"></div>
</div>