<div class="event-record-face">
  <div class="event-record-face-head">
    <div class="event-record-face-head-filter">
      <div class="event-record-face-head-filter-item date">
        <div class="event-record-face-head-filter-item-title">开始时间：</div>
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy-MM-dd HH:mm:ss'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [date]="args.duration.begin"
          (change)="changeBegin($event)"
          class=""
        />
      </div>
      <div class="event-record-face-head-filter-item date">
        <div class="event-record-face-head-filter-item-title">结束时间：</div>

        <input
          type="text"
          DateTimePicker
          [format]="'yyyy-MM-dd HH:mm:ss'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [date]="args.duration.end"
          (change)="changeEnd($event)"
          class=""
        />
      </div>
    </div>
    <div class="event-record-face-head-search">
      <button class="hw-blue-btn" (click)="onsearch()">搜索</button>
    </div>
  </div>
  <div class="event-record-face-content">
    <app-event-record-face-table
      [load]="load"
      (loaded)="onloaded($event)"
    ></app-event-record-face-table>
  </div>
  <div class="event-record-face-foot" *ngIf="page">
    <div>
      <span class="count-title">总数量：</span
      ><span class="count">{{ page.TotalRecordCount }}</span>
    </div>
    <div>
      <app-paginator
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="5"
        [pageIndex]="page.PageIndex - 1"
        [showFirstLastButtons]="true"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
