<div class="event-record-item">
  <div class="event-record-item-head">
    <div class="event-record-item-head-filter">
      <div class="event-record-item-head-filter-item date">
        <div class="event-record-item-head-filter-item-title">开始时间：</div>
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy-MM-dd HH:mm:ss'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.hour"
          [date]="args.duration.begin"
          (change)="changeBegin($event)"
          class=""
        />
      </div>
      <div class="event-record-item-head-filter-item date">
        <div class="event-record-item-head-filter-item-title">结束时间：</div>

        <input
          type="text"
          DateTimePicker
          [format]="'yyyy-MM-dd HH:mm:ss'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.hour"
          [date]="args.duration.end"
          (change)="changeEnd($event)"
          class=""
        />
      </div>
      <div class="event-record-item-head-filter-item">
        <div class="event-record-item-head-filter-item-title">摄像机：</div>

        <div class="event-record-item-head-filter-item-node">
          <mat-chip-list
            #chipList
            aria-label="Fruit selection"
            [aria-orientation]="'horizontal'"
            (click)="onchiplistclicked($event)"
          >
            <span *ngIf="!nodes || nodes.length == 0">请选择</span>
            <mat-chip *ngFor="let item of nodes" (removed)="remove(item)">
              {{ item.Name }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>

          <div class="tree" *ngIf="expand">
            <howell-region-tree
              [showRegionNode]="true"
              (selectTreeNode)="onNodeSelected($event)"
            ></howell-region-tree>
          </div>
        </div>
      </div>
      <div class="event-record-item-head-filter-item">
        <button class="hw-blue-btn" (click)="onsearch()">搜索</button>
      </div>
    </div>
    <!-- <div class="event-record-item-head-search">
      <button class="hw-blue-btn" (click)="onsearch()">搜索</button>
    </div> -->
  </div>
  <div class="event-record-item-content">
    <app-event-record-face-table
      [load]="load"
      (loaded)="onloaded($event)"
      (details)="ondetails($event)"
      (playback)="onplayback($event)"
    ></app-event-record-face-table>
  </div>
  <div class="event-record-item-foot" *ngIf="page">
    <div>
      <span class="count-title">总数量：</span
      ><span class="count">{{ page.TotalRecordCount }}</span>
    </div>
    <div>
      <app-paginator
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="5"
        [pageIndex]="page.PageIndex - 1"
        [showFirstLastButtons]="true"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
