<div class="device-list vertical-layout">
  <div class="vertical-header">
    <div class="left-wrapper">
      <div class="hw-second-title">配置设置</div>
      <div class="tab-labels">
        <div
          class="tab"
          [class.active]="path == NavigationPath.depoly_map"
          (click)="path = NavigationPath.depoly_map"
        >
          地图布控
        </div>
        <div
          class="tab"
          [class.active]="path == NavigationPath.region_manage"
          (click)="path = NavigationPath.region_manage"
        >
          区域管理
        </div>
        <div
          class="tab"
          [class.active]="path == NavigationPath.region_node_manage"
          (click)="path = NavigationPath.region_node_manage"
        >
          监控点管理
        </div>
        <div
          class="tab"
          [class.active]="path == NavigationPath.region_node_match"
          (click)="path = NavigationPath.region_node_match"
        >
          监控点配对
        </div>
        <div
          class="tab"
          [class.active]="path == NavigationPath.sync_server"
          (click)="path = NavigationPath.sync_server"
        >
          数据同步
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-main">
    <deploy-map *ngIf="path == NavigationPath.depoly_map"></deploy-map>
    <region-manage *ngIf="path == NavigationPath.region_manage"></region-manage>
    <region-node-manage
      *ngIf="path == NavigationPath.region_node_manage"
    ></region-node-manage>

    <region-node-match
      *ngIf="path == NavigationPath.region_node_match"
    ></region-node-match>

    <div class="sync" *ngIf="path == NavigationPath.sync_server">
      <button class="hw-green-btn" (click)="syncSRServer()">
        同步流转服务器
      </button>
      <button class="hw-green-btn" (click)="syncPlatform()">
        同步平台信息
      </button>
    </div>
  </div>
</div>
