<div class="alarm">
  <div class="table-header-container">
    <table>
      <colgroup>
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 15%" />
        <col style="width: 5%" />
      </colgroup>
      <thead>
        <tr>
          <th>名称</th>
          <th>报警类型</th>
          <th>布控名称</th>
          <th>时间</th>
          <th>操作</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-body-container">
    <table>
      <colgroup>
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 15%" />
        <col style="width: 5%" />
      </colgroup>
      <tbody>
        <tr *ngFor="let item of datas">
          <td>{{ item.name }}</td>
          <td><label></label> {{ item.type | event_type_pipe }}</td>
          <td>{{ item.nodeName }}</td>
          <td>{{ item.time | date_time_pipe }}</td>
          <td>
            <span> <i class="howell-icon-picture"></i></span>
            <span> <i class="howell-icon-videodownload"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
