<div class="structured-data-body-query">
  <div class="structured-data-body-query-title">
    <div class="hw-simple-title">人体检索</div>
  </div>
  <div class="structured-data-body-query-content">
    <div class="form-item">
      <div class="form-item-title">摄像机</div>
      <div class="form-item-input node">
        <mat-chip-list
          #chipList
          aria-label="Fruit selection"
          [aria-orientation]="'horizontal'"
          (click)="onchiplistclicked($event)"
        >
          <span *ngIf="!nodes || nodes.length == 0">请选择</span>
          <mat-chip *ngFor="let item of nodes" (removed)="remove(item)">
            {{ item.Name }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>

        <div class="tree" *ngIf="expand">
          <howell-region-tree
            (selectTreeNode)="onNodeSelected($event)"
          ></howell-region-tree>
        </div>
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-title">开始时间</div>
      <div class="form-item-input">
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy年MM月dd日 HH:mm'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [date]="model.duration.begin"
          (change)="changebegin($event)"
          class=""
        />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-title">结束时间</div>
      <div class="form-item-input">
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy年MM月dd日 HH:mm'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.month"
          [date]="model.duration.end"
          (change)="changeend($event)"
          class=""
        />
      </div>
    </div>
    <div
      class="form-item picture"
      (click)="onupload()"
      [ngStyle]="{
        backgroundImage: 'url(' + image + ')'
      }"
    >
      <div *ngIf="!image">点击上传图片</div>
      <input
        type="file"
        (change)="fileChange()"
        accept="*.png|*.jpg|*.jpeg|*.bmp"
        #file
        style="display: none"
      />
    </div>
    <div class="form-item">
      <button class="hw-blue-btn" (click)="onimagechoose()">选择照片</button>
    </div>
    <div class="form-group">
      <div class="form-item short">
        <div class="form-item-title">性别</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.Gender">
            <option [value]="item.Value" *ngFor="let item of genders">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">发型</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.HairStyle">
            <option [value]="item.Value" *ngFor="let item of hairs">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">年龄段</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.AgeGroup">
            <option [value]="item.Value" *ngFor="let item of ages">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">上衣类型</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.JacketType">
            <option [value]="item.Value" *ngFor="let item of jacketTypes">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">眼镜</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.Glass">
            <option [value]="item.Value" *ngFor="let item of glasses">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">上衣颜色</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.JacketColor">
            <option [value]="item.Value" *ngFor="let item of jacketColors">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">背包</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.Bag">
            <option [value]="item.Value" *ngFor="let item of bags">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">下衣类型</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.TrousersType">
            <option [value]="item.Value" *ngFor="let item of trousersTypes">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">戴帽子</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.Hat">
            <option [value]="item.Value" *ngFor="let item of hats">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">下衣颜色</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.TrousersColor">
            <option [value]="item.Value" *ngFor="let item of trousersColors">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">戴口罩</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.Mask">
            <option [value]="item.Value" *ngFor="let item of masks">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">骑车</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.Ride">
            <option [value]="item.Value" *ngFor="let item of rides">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">拎东西</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.Things">
            <option [value]="item.Value" *ngFor="let item of things">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-item short">
        <div class="form-item-title">骑车类型</div>
        <div class="form-item-input">
          <select [(ngModel)]="model.CyclingType">
            <option [value]="item.Value" *ngFor="let item of cyclingTypes">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="structured-data-body-query-foot">
    <button (click)="onquery()" class="hw-blue-btn">检索</button>
  </div>
</div>

<app-window
  *ngIf="window.model.show"
  [Model]="window.model"
  [style]="window.style"
>
  <app-picture-detail
    (closeEvent)="onwindowclose()"
    [models]="models"
    [image]="image"
  ></app-picture-detail>
</app-window>
