<div class="event-record-card">
  <div class="event-record-card-wrapper vertical-layout">
    <div class="vertical-main">
      <img src="assets/img/timg-pic.png" alt="" />
    </div>
    <div class="event-record-card-footer">
      <div><i class="howell-icon-face-recognition"></i>女</div>
      <div><i class="howell-icon-video"></i>摄像机1</div>
    </div>
  </div>
  <div class="event-record-card-wrapper vertical-layout">
    <div class="vertical-main">
      <img src="assets/img/timg-pic.png" alt="" />
    </div>
    <div class="event-record-card-footer">
      <div><i class="howell-icon-face-recognition"></i>女</div>
      <div><i class="howell-icon-video"></i>摄像机1</div>
    </div>
  </div>
</div>
