.aiop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-header {
    width: 100%;
    height: 90px;
    flex-shrink: 0;

    .spacer {
      height: 100%;
    }
  }
  &-body {
    width: 100%;
    flex-grow: 1;
    padding-top: 5px;
    box-sizing: border-box;
    overflow: auto;
  }
}
