<div class="region-node-match">
  <div class="left-wrapper box-wrapper">
    <div class="box-item">
      <div class="hw-simple-title">区域列表</div>
      <div class="tree-container">
        <howell-region-tree
          #regionTree
          [holdStatus]="false"
          [selectStrategy]="regionSelectStrategy"
          [showRegionNode]="true"
          [disableItemType]="disableItemType"
          (selectTreeNode)="selectRegionTreeNode($event)"
        ></howell-region-tree>
      </div>
    </div>
  </div>
  <div class="middle-wrapper">
    <div>
      <button class="hw-blue-btn" (click)="createRegionNode()">
        创建监控点
      </button>
      <button class="hw-red-btn" (click)="deleteRegionNode()">
        删除监控点
      </button>
    </div>
  </div>
  <div class="right-wrapper box-wrapper">
    <div class="box-item">
      <div class="hw-simple-title">摄像机列表</div>
      <div class="tree-container">
        <!-- <resource-tree
          #resourceTree
          [selectStrategy]="resourceSelectStrategy"
          (selectTreeNode)="selectResourceTreeNode($event)"
        ></resource-tree> -->

        <label *ngFor="let data of dataSource">
          <input type="checkbox" />
          <i [class]="data.DetailIcon"></i>
          {{ data.Name }}
        </label>
      </div>
    </div>
  </div>
</div>
