.deploy-list {
  padding: 0 20px;
  .vertical-header {
    .title {
      font-size: 25px;
      justify-content: center;
      color: white;
      align-items: center;
      display: flex;
      position: relative;
      left: -4px;

      width: 236px;
      height: 58px;
      background-image: url(/assets/img/second-title.png);
    }
    .left-wrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }
}
