<div class="deploy-list vertical-layout">
  <div class="vertical-header">
    <div class="left-wrapper">
      <div class="title">布防列表</div>
      <div class="tab-labels">
        <div class="tab active">人脸</div>
        <div class="tab">人体</div>
        <div class="tab">车辆</div>
      </div>
    </div>
    <div class="right-wrapper">
      <howell-simple-search></howell-simple-search>
    </div>
  </div>
  <div class="vertical-main">
    <div class="table-header-container">
      <table>
        <colgroup>
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 15%" />
          <col style="width: 15%" />
          <col style="width: 5%" />
        </colgroup>
        <thead>
          <tr>
            <th>布控名称</th>
            <th>车牌号</th>
            <th>布控原因</th>
            <th>车辆类型</th>
            <th>车辆颜色</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-body-container">
      <table>
        <colgroup>
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 15%" />
          <col style="width: 15%" />
          <col style="width: 5%" />
        </colgroup>
        <tbody>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
          <tr>
            <td>布控名称</td>
            <td>沪A88888</td>
            <td>被盗车</td>
            <td>小型汽车</td>
            <td>白色</td>
            <td>2022-08-12 16:09:55</td>
            <td>2022-08-12 16:09:55</td>
            <td>
              <span> <i class="howell-icon-picture"></i></span>
              <span> <i class="howell-icon-videodownload"></i></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="vertical-footer">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">
          <span style="color: #cfd7ff"> 总数量:</span>
          <span style="color: #fff"> {{ page && page.TotalRecordCount }}</span>
        </div>
      </div>
    </div>
    <div class="footer-item">
      <app-paginator
        *ngIf="page"
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="pageIndex - 1"
      >
      </app-paginator>
    </div>
  </div>
</div>
