<div class="deploy-list">
  <div class="deploy-list-head">
    <div class="hw-second-title">布防列表</div>
    <div class="tab-labels">
      <div
        class="tab"
        [ngClass]="{
          active: path === DeployType.face
        }"
        (click)="navigation(DeployType.face)"
      >
        人脸
      </div>
      <div
        class="tab"
        [ngClass]="{
          active: path === DeployType.vehicle
        }"
        (click)="navigation(DeployType.vehicle)"
      >
        车辆
      </div>
    </div>
  </div>
  <div class="deploy-list-content">
    <ng-container *ngIf="path === DeployType.face">
      <app-deploy-face-list> </app-deploy-face-list>
    </ng-container>
    <ng-container *ngIf="path === DeployType.vehicle">
      <app-deploy-vehicle-list> </app-deploy-vehicle-list>
    </ng-container>
  </div>
</div>
